<section id="banner">
  <div class="inner">
    <header>
      <h1>Radley Nelson</h1>
    </header>

    <div class="flex ">

      <div>
        <span class="icon fa-car"></span>
        <h3>Student</h3>
        <p>Current Student of I.S at BYU</p>
      </div>

      <div>
        <span class="icon fa-camera"></span>
        <h3>Developer</h3>
        <p>Full stack w/ Rails</p>
      </div>

      <div>
        <span class="icon fa-bug"></span>
        <h3>Athlete</h3>
        <p>Weights & Basketball</p>
      </div>

    </div>

    <footer>
      <a href="#" class="button">Get Started</a>
    </footer>
  </div>
</section>