<header id="header">
  <div class="inner">
    <a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
    <nav id="nav">
      <%= link_to "Home", root_path %>
      <%= link_to "About", about_path %>
      <a href="elements.html">Elements</a>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </div>
</header>
